---
roles:
    - anonymous
    - user
allow:
    anonymous:
        - login
        - not_found
        - forbidden
        #- index
        #- page
        #- pages
        #- changes
        #- diff
        #- history
    user:
        - *
deny:
    user:
        - login
